* {box-sizing: border-box}

.container {
  display:flex; 
  justify-content:center;
  width: 100%;
  height:100vh;
  align-items: center;
}

.image {
  width: 1214px;
  height: 452px;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  height: 452px;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width:1214px;
  transition: 1s ease;
  opacity:0;
  font-size: 130px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

p{
    color:black;

}

html,
body {
  font-size: xx-large;
    margin: 0;
    padding: 0;
    color:lightblue;
    font-family: 'Libre Baskerville', serif;     
    background-color:gray;
    font-style: italic;
    font-weight: bold;


}

canvas {
    display: block;
}

.canvasDiv {
    display: flex;
    justify-content: center;
}

